body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto','sans-serif';
}

.full-screen{
    height: 100vh;
}

.section-one{
    background-color: #1F2937;
}

.top-bar{
    display: flex;
    padding: 20px;
}

.top-bar-right-items{
    margin-left: auto;
    margin-right: 40px;
}

.top-bar-right-items ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.top-bar-right-items ul li, 
.hero-secondary-text
{
    color: #E5E7EB;
    font-size: 18px;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-left: 50px;
}

.hero{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-top: 0;
}

.hero-button{
    background-color: #3882F6;
    color: white;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.hero-left{
    width: 400px;
}
.hero-img{
    display: flex;
    align-items: center;
}
.hero-img img{
    width: 400px;
    height: auto;
}

.section-two{
    display: flex;
    flex-direction: column;
}

.info-header-text{
    font-size: 48px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
}

.img-border{
    width: 200px;
    height: 200px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
}

.box-section{
    display: flex;
    align-self: center;
}

.info-box p{
    color: #1F2937;
    font-size: 20px;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.section-three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text{
    font-size: 36px;
    font-weight:100;
    width: 800px;
    margin-bottom: 0;
}

.quote-ref{
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

.quote{
    display: flex;
    flex-direction: column;
}

.sign-up-banner{
    background-color: #3882F6;
    width: 1000px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 30vh;
}

.sign-up-banner button{
    margin-left: auto;
    margin-right: 100px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: #F9FAF8;
    background-color: transparent;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}

.banner-text{
    margin-left: 50px;
}
.banner-text h4{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 30px;
    margin: 0
}

.banner-text p{
    color: #F9FAF8;
    font-weight: 400;
    font-size: 20px;
}

.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    margin-top: auto;
    height: 80px;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: #E5E7EB;
    font-size: 17px;
    font-weight: 500;
}